<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Profile</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
		<script type="text/javascript" src="static/scripts.js"></script>
	</head>
	<body class="loggedin">
        <form action="{{ url_for('admin') }}" method="post" autocomplete="off">


		<nav class="navtop">

			<div>

				<img class = 'logo' src="/static/logo.png">
				<h1>Stim</h1>
			</div>
		</nav>
		<label>
			<input type="checkbox">
			<span class="menu"> <span class="hamburger"></span> </span>
			<ul>
				<li> <a href="{{ url_for('home') }}">Home</a> </li>
				<li> <a href="{{ url_for('profile') }}">Profile</a> </li>
				<li> <a href="{{ url_for('logout') }}">Logout</a> </li>
				<li> <a href="#">Panier</a> </li>
				<li> <a href="#">About</a> </li>
			</ul>
			</label>
            <div class = 'content'>
                <h2 class = "prof">Profile Page</h2>
            <div>
                <p>Les détails de votre account :</p>
                <table>
                    <tr>
                    <td>Username:</td>
                    <input type="text" name="nomj" placeholder="nom du jeu" id="nom_j" required>
                    </tr>
                    <tr>
                    <td>Password:</td>
                    <input type="text" name="description" placeholder="description" id="descriptionjeu" required>
                    </tr>
                    <tr>
                    <td>Email:</td>
                    <input type="text" name="createur" placeholder="createur" id="createurjeu" required>
                    </tr>
                    <td>Email:</td>
                    <input type="texte" name="prix" placeholder="prix" id="prixjeu" required>
                    </tr>
                    <td>Email:</td>
                    <input type="texte" name="datedesortie" placeholder="date de sortie" id="datejeu" required>
                    </tr>
                    <div class="msg">{{ msg }}</div>
                    <input type="submit" value="entré dans la base de donnée">
                </table>
            </div>
            </div>
	</body>
	</div>
</html>


